absl-py==0.11.0
appdirs==1.4.4
astunparse==1.6.3
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
black==19.10b0
blis==0.7.4
cachetools==4.2.0
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
flatbuffers==1.12
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-2.3.0/fr_core_news_sm-2.3.0.tar.gz
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==2.10
Keras-Preprocessing==1.1.2
loguru==0.5.3
Markdown==3.3.3
murmurhash==1.0.5
mypy-extensions==0.4.3
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.2.0
pathspec==0.7.0
plac==1.1.3
preshed==3.0.5
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
regex @ file:///tmp/build/80754af9/regex_1606772724491/work
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
six==1.15.0
spacy==2.3.5
srsly==1.0.5
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
thinc==7.4.5
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tqdm==4.55.2
typed-ast==1.4.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
urllib3==1.26.2
wasabi==0.8.0
Werkzeug==1.0.1
wrapt==1.12.1
